
<div class="container-fluid" style="background-color: grey;width:1298.5px;height:612.5px">
<div class="container" style="margin-right: 5px;">
    <div class="row" style="padding-top:150px;">
        <section class="col-md-4">
                <%= link_to('https://html.com') do %>
                <i class="fab fa-html5" style="font-size: 5em;color: Mediumslateblue"></i> <% end %> <br>
                <%= link_to "HTML5", "https://html.com", target: "_blank", rel: "alternate", :style=>'color: white;' %>
        </section>
        <section class="col-md-4">
                <%= link_to ('https://www.css3.info')do %>
                <i class="fab fa-css3-alt" style="font-size: 5em;color: red"></i> <% end %> <br>
                <%= link_to "CSS3", "https://www.css3.info", target: "_blank", rel: "alternate", :style=>'color: white;' %>
        </section>
        <section class="col-md-4">
                <%= link_to ('https://getbootstrap.com')do %>
                <i class="fab fa-bootstrap" style="font-size: 5em;color: Mediumslateblue"></i> <% end %> <br>
                <%= link_to "Bootstrap", "https://getbootstrap.com", target: "_blank", rel: "alternate", :style=>'color: white;' %>
        </section>
    </div>

     <div class="row" style="margin-top: 50px;">
        <section class="col-md-4">
                <%= link_to ('https://javascript.com')do %>
                <i class="fab fa-js" style="font-size: 5em;color: Mediumslateblue"></i> <% end %> <br>
                <%= link_to "Javascript", "https://javascript.com", target: "_blank", rel: "alternate", :style=>'color: white;' %>
        </section>
        <section class="col-md-4">
                <%= link_to ('https://angular.io')do %>
                <i class="fab fa-angular" style="font-size: 5em;color: red"></i> <% end %> <br>
                <%= link_to "Angular 6", "https://angular.io", target: "_blank", rel: "alternate", :style=>'color: white;' %>                
        </section>
        <section class="col-md-4">
                <%= link_to ('https://nodejs.org')do %>
                <i class="fab fa-node-js" style="font-size: 5em;color: Mediumslateblue"></i> <% end %> <br>
                <%= link_to "NodeJS", "https://nodejs.org", target: "_blank", rel: "alternate", :style=>'color: white;' %>                                
        </section>
    </div>
</div>
</div>


